#sidebar-resizer {
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 20;

  &:hover, &.dragging {
    background: rgba(var(--bs-primary-rgb), 0.2);
  }
}

.td-sidebar {
  position: relative;
}

.td-sidebar__inner {
  flex: 0 0 var(--sidebar-width, 320px) !important;
  max-width: var(--sidebar-width, 320px);
}