/*

Add styles or override variables from the theme here.

*/

// Sets the background color of the navbar
$td-navbar-bg-color: #6bb8ff;

.td-version-selector .btn {
    background-color: #6bb8ff;
    color: white;
    font-weight: bold;
  }

.td-version-selector .dropdown-item:hover,
.td-version-selector .dropdown-item:active {
    background-color: $td-navbar-bg-color;
    color: white;
  }



