<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
    </Console>
    <RollingFile name="heartbeat" fileName="./log/heartbeat.log" filePattern="./log/heartbeat-%i.log" immediateFlush="true">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="5 KB" />
      </Policies>
      <DefaultRolloverStrategy max="4" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="com.kmwllc.lucille" level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="console" />
    </Root>
    <Logger name="com.kmwllc.com.kmwllc.lucille.core.Heartbeat" level="INFO" additivity="false">
      <AppenderRef ref="heartbeat" />
    </Logger>
  </Loggers>
</Configuration>
