<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.kmwllc.lucille" level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
