name: Scan code with Snyk

on:
  push:
    branches: ["LC-458-enable-code-scanning" ]  #just for testing
  workflow_dispatch:
        inputs:
          language:
            description: 'Code language to scan'
            required: false

permissions:
  contents: read

jobs:
  snyk:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Snyk CLI to check for security issues
        # Snyk can be used to break the build when it detects security issues.
        # In this case we want to upload the SAST issues to GitHub Code Scanning
        uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb

        # For Snyk Open Source you must first set up the development environment for your application's dependencies
        # For example for Node
        #- uses: actions/setup-node@v4
        #  with:
        #    node-version: 20

        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=medium

        # Runs Snyk Code (SAST) analysis and uploads result into GitHub.
      - name: Snyk Code test
        run: snyk code test --sarif > snyk-code.sarif || true # Remove || true to fail the pipeline


#        # Build the docker image for testing
#      - name: Build a Docker image
#        run: docker build -t your/image-to-test .
#        # Runs Snyk Container (Container and SCA) analysis and uploads result to Snyk.
#      - name: Snyk Container monitor
#        run: snyk container monitor your/image-to-test --file=Dockerfile

        # Push the Snyk Code results into GitHub Code Scanning tab
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif
